<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>Flight Number </div>
  <div><%= flight.flightNo %></div>
  <div>Departure Date</div>
  <div><%= flight.departs.toDateString() %></div>
</section>

<br><br>
<h2>Arrivals</h2>
<form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Destination:</label>
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
      <option value="SEA" selected>SEA</option>
    </select>
  </label><br>
  <label>Arrival Date:</label>
  <input type="datetime-local" name="arrival">
  <input type="submit" value="Add Destination">
</form>

<% if (flight.destinations.length) { %>
  <table>
    <thead>
      <tr>
        <th>Destination</th>
        <th>Arrival Date</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(d) { %>
        <tr>
          <td><%= d.createdAt %></td>
          <td><%= d.airport %></td>
          <td><%= d.arrival.toLocaleDateString() %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <% } else { %>
    <h5>No Arrivals</h5>
  <% } %>

<%- include('../partials/footer') %>